
html , body{
  height: 100%;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}
.navbar .navbar-brand img{
  width: 50px;
  height: 50px;
}
.gradient{
  background: rgb(0,97,242);
  background: linear-gradient(90deg, rgba(0,97,242,1) 0%,  rgba(104,0,199,1) 35%,
  rgba(0,212,255,1) 100%);
}
.page-header{
  margin-top: 4rem;
  font-size: 1.25rem;
  color: white;
}
.companies .col-md-2 img{
  width: 90px;
  height:40px;
}
.feauture{
  color:white;
  font-size: 1.25rem;
  color: white;
}
.feauture ul{
  padding-left: 2rem;
  list-style-type: none;
}
.feauture ul li{
  padding-left: 2rem;
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  line-height: 2rem;
}
.icon{
  color: white;
  height: 5rem;
  width: 5rem;
  border-radius: 100%;
  display: inline-flex;
  font-size: 1.75rem;
  align-items: center;
  justify-content: center;
}
.gallery{
  background-color: whitesmoke;
  padding-top: 30px;
}
.gallery img{
  height: 450px;
  border-radius: 5%;
  width: 300px;
}
.gallery img:hover{
  opacity: 50%;
}
.gallery button{
  margin-bottom: 20px;
}
.services{
  color: #fff;
}
footer{
  color: white;
  font-size: 1rem;
  margin: 0;
  padding: 2rem;
  
}
